body 
{
        background-image: url("../media/img5.jpg"); 
        background-size: cover;      
        background-position: center;  
        background-repeat: no-repeat;
        background-attachment: fixed; 
        backdrop-filter: blur(7px); 
    }
